{% extends 'home.html' %}

{% block title %}
	{{page_title}}
{% endblock %}

{% block content %}
	
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<div style="margin-top: 8em;" class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">{{form_title}}</h3>
					</div>
					<div class="panel-body">
						{% if user.is_authenticated %}
							<form action="" method="POST">
								{% csrf_token %}
								{{form}}
								<input style="margin-top: 1em;" type="submit" value={{submit_text}} class="btn btn-primary pull-right">
								
								{{extra_content|safe}}
								<button style="margin-top: 1em;" type="button" class="btn btn-default pull-left" onclick="window.location.href='{{return_to}}'">返回</button>
							</form>
							<span id="tip" style="color: red;"></span>
							<div class="clearfix"></div>
							
						{% else %}
							<script type="text/javascript">
								alert('当前未登录，点击确定后跳转至登录');
								window.location.href='/user/login/';
							</script>
						{% endif %}
					</div>
				</div>
			</div>					
		</div>
		
	</div>
{% endblock %}

{% block script %}
	<script type="text/javascript">
		$('#send_code').click(function(){
			var email = $("#id_email").val();
			if(email == ""){
				$("#tip").text("* 邮箱不能为空");
				return false;
			};
			// 发送验证码
			$.ajax({
				url:"/user/send_verification_code/",
				type:"GET",
				cache:false,
				data:{'email':email,'code_send_for':'bind_email'},
				success:function(data){
					if(data['status']){
						alert('验证码发送成功，请查看邮箱接收');
					}else{
						alert(data['msg']);
					}
				}
			});
		});
	</script>
{% endblock %}