
.blog:not(:last-child){
	margin-bottom: 2em;
	padding-bottom: 1em;
	border-bottom: 1px solid #ddd;
}

.blog-more{
	margin-top:1em;
}
.blog-details-content{
	width: 100%;
	height: auto;
	word-wrap: break-word;
	word-break: break-all;
	overflow: hidden;
}
.blog-info:(last-child){
	width: 100%;
	height: auto;
	word-wrap: break-word;
	word-break: break-all;
	overflow: hidden;
}
div.hot-data{
	text-align: center;
	margin-top:2em;
}
